* {
    margin: 0;
    padding: 0;
}

 body{
    font-family: sans-serif;
    height: 100vh;
    position: relative;
    padding-top: 50px;
 }

.modal-window{
    font-size: 30px;
    width: 50%;
    text-align: center;
    background-color: #9e9898;
    padding: 20px 30px;
    border: 2px solid black;
    border-radius: 15px;

}

.close{
    background-color: transparent;
    font-size: 20px;
    color: red;
    border: none;
    cursor: pointer;
}